/* New Comer 2.1 **/

/*
 * Reset
 * CSS Reset http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
**/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}


/* Main
============================================================================ **/
body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	background: #000;
	color: #fff;
	text-shadow: 1px 1px #000000;
	clear: both;
	display: block;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: blue;
}
p {
	margin-bottom: 20px;
}
input[type="email"] {
    background: none repeat scroll 0 0 #EEEEEE;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
    color: #333;
    font-size: 14px;
	display: inline;
    height: 16px;
    padding: 6px;
	border:1px solid #FFCA3B;
	vertical-align: top;
}
input[type="submit"] {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFCA3B), color-stop(1, #FFCA3B) );
	background:-moz-linear-gradient( center top, #FFCA3B 5%, #FFCA3B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCA3B', endColorstr='#FFCA3B');
	background-color:#FFCA3B;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	border:1px solid #FFCA3B;
	display: inline;
	color:#ffffff;
    font: bold 14px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	height: 30px;
	text-decoration:none;
	cursor: pointer;
	text-shadow: 1px 1px #000000;
	vertical-align: top;
}input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFCA3B), color-stop(1, #FFCA3B) );
	background:-moz-linear-gradient( center top, #FFCA3B 5%, #FFCA3B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCA3B', endColorstr='#FFCA3B');
	background-color:#FFCA3B;
}input[type="submit"]:active {
	position:relative;
	top:1px;
}
#overlay { background: url(../img/overlay.png) repeat scroll 0 0 transparent; position:fixed; left:0; top:0; overflow:hidden; z-index:-1; height:100%; width:100%; opacity: 0.5;}
#content {
    background: url("../img/gradient.png") no-repeat scroll center 0 rgba(0, 0, 0, 0.75);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
	zoom: 1;
  overflow: hidden;
  padding: 10px 0;
	display: none;
	position: relative;
	float: right;
	width: 100%;
	background-position: 50%;
}
#content-left, #content-right {
	width: 50%;
	float: left;
	display: inline;
}
#content-left {
	text-align: right;
}
.container {

}
#content-left .container {
	padding-right: 20px;
}
#content-right{

}
#content-right .container{
	padding-left: 20px;
}
#logo {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
#subscribe {
    margin-bottom: 20px;
    overflow: hidden;
}
.stamp {
    display: block;
    margin-bottom: 10px;
}

#message {
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
}
#response {
	display: none;
	margin-top: 8px;
}
.message {
	margin-bottom: 0;
}
.warning {
	color: red;
}



/* Supersized - Fullscreen Slideshow jQuery Plugin
============================================================================ **/
#supersized-loader { position:absolute; top:50%; left:50%; z-index:10; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background-color:#111; background: url(../img/progress.gif) no-repeat center center rgba(0,0,0,0.8); -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img{ width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

#supersized a { z-index:-30; position:absolute; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111;}
#supersized a.prevslide { z-index:-20; }
#supersized a.activeslide { z-index:-10; }
#supersized a.prevslide img, #supersized a.activeslide img{ display:inline; }

/*Controls Section*/
#controls-wrapper {
    /* background: url("../img/nav-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0.1); */
    bottom: 0;
    height: 55px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 4;
}
#controls { overflow:hidden; height:100%; text-align:left; z-index:5; }
#slidecounter {
    color: yellow;
    float: left;
    margin: 17px 10px 17px 20px;
    text-shadow: 0 -1px 0 #000000;
}
#slidecaption {
    color: #FFFFFF;
    float: left;
    margin: 17px 20px 17px 0;
    overflow: hidden;
    text-shadow: 0 2px 0 #000000;
}
#navigation {
    float: right;
    height: 60px;
    margin: 20px 20px 0 0;
}

/* Thumbnail Navigation */
#nextthumb,#prevthumb { z-index:6; display:none; position:fixed; bottom:12px; height:75px; width:100px; overflow:hidden; background:#ddd; border:2px solid #fff; -webkit-box-shadow:0 0 5px #000; }
#nextthumb { right:12px; }
#prevthumb { left:12px; }
#nextthumb img, #prevthumb img { width:150px; height:auto;  }
#nextthumb:active, #prevthumb:active { bottom:10px; }
#navigation > :hover,#nextthumb:hover, #prevthumb:hover { cursor:pointer; }

/* Enroll design */

#mc_embed_signup_scroll {
    position: relative;
    display: inline-flex;
}

.fb {
	top: 13px;
	position: relative;
}
